.notification{
    position: fixed;
    right: 2em;
    bottom: 2em;
    display: flex;
    flex-flow: column nowrap;
    width: fit-content;
    min-width: 250px;
    max-width: 80vw;
    padding: 1em 2em;
    transition: all 0.25s ease-in-out;
    transform: scale(0);
    transform-origin: center right;
    text-align: left;
    opacity: 0;
    color: white;
    border-radius: 0.5em;
    background-color: var(--primary-hover);
}

.notification > p {
    word-wrap: anywhere;
}

.show {
    transform: scale(1);
    opacity: 1;
}
