.image-container {
    width: 100%;
    text-align: left;
}

.image, .details-image {
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    user-select: none;
    transition: transform 0.25s ease-in-out;
    border-radius: 0.5em;
    outline-offset: 2px;
    aspect-ratio: 3/2;
    object-fit: cover;
}

.details-image{
    cursor: default;
}

.image:hover {
    transform: scale(1.01);
}

.image:active {
    outline: var(--primary-hover) 3px solid;
    outline-offset: 2px;
}

.image.selected {
    outline: var(--primary) 3px solid;
    outline-offset: 3px;
}

.bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file-name.large{
    font-size: 1.2em;
}
